/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #F4F5FC; /* Soft background */
    color: #333333; /* Dark text for readability */
    line-height: 1.6;
  }
  

  /* section */

    .schools{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: auto; 
        padding: 2rem; 
    }

    .logo-box{
        /* border: 1px solid black; */
        width: 25%;
        padding: 0.5rem;
        justify-items: center;
        margin: 1rem;
    }

    .logo-box img{
        width: 10rem;
        transition: transform 0.3s ease-in-out; 

    }

    .logo-box img:hover{
        transform: scale(1.1);
    }

    .s-name{
        padding: 0.rem;
    }
