*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

header{
  background-color: aquamarine;
}

header #context{
  text-align: center;
  background-color: rgb(68, 61, 61);
  width: 100%;
  padding: 0.5rem;
  color: white;
}

.nav{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
  height: 4rem;
}

.logo{
   width: 12rem;
   margin-left: 1.5rem;
   font-size: 2.1rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-box{
  width: 86%;
  height: 100%;
}

.search-box input{
  width: 90%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;

}

.search-box :placeholder-shown{
  font-size: large;
  padding: 0.7rem;
  margin: 0.5rem;
}

.search-box text{
  padding: 1rem;
}

.search-box button{
  height: 100%;
  border-radius: 0.5rem;
  width: 5rem;
  font-size: large;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0.5rem;
  font-size: large;
  justify-content: space-around;
}

nav ul a{
  text-decoration: none;
  color: black;

} 

/* -----------main-home------------- */

.box{
  position: relative;
}

.box .image img{
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

/* -------------end of main home------------ */

/* starting of schools  */

.school-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: blanchedalmond;
}

.school-card{
  padding: 3rem;
  width: 30%;
  height: 28m;
  text-align: center;
}

.school-card :hover{
  transform: scale(1.1);
}

.school-name{
  padding: 1.2rem;
}

.school-name a {
  text-decoration: none;
  color: brown;
  font-size: large;
}


/* end of schools  */